<h1>Listing testartifacts</h1>

<table class="table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Test Case Name</th>
      <th>Module</th>
      <th>Application ID</th>
      <th>Testcase ID </th>
      <th>Automation ID </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @testartifacts.each do |testartifact| %>
      <tr>
        <td><%= testartifact.name %></td>
        <td><%= testartifact.module %></td>
        <td><%= testartifact.application_ID %></td>
        <td><%= testartifact.testcase_ID %></td>
        <td><%= testartifact.automation_ID %></td>
        <td><%= link_to 'View', testartifact %></td>
        <td><%= link_to 'Edit', edit_testartifact_path(testartifact) %></td>
        <td><%= link_to 'Delete', testartifact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @testartifacts %>
<br>

<%= link_to 'New Testartifact', new_testartifact_path %>

<hr>

<div>
<h5>Import a CSV File</h5>
  <%= form_tag "testartifacts/import", multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import Test Cases" %>
  <% end %>
</div>

<hr>