<h3 align = "center">Automation Test Runs</h3>

<hr>
<div style = "margin: 10px 10px 10px 10px;">

Total Projects  <%= @project_count %>
Total Releases <%= @release_count %>
Total Runs <%= @run_count %>
Test Total <%= @test %>

</div>

<hr> Project Metrics <br>

<%= image_tag(Gchart.bar :size => '340x260', 
                   :stacked => false,
                   :title => 'Project Results',
                   :data => [[@run_count],[10],[12]],
                   :legend => @module_tiles,
                   :bar_colors => ['3300CC','3399FF','33CCFF'],
                   :axis_with_labels => ['y'],                   
                   :axis_labels => [[0,10]]
                   ) %>

<hr> <br>
Release Metrics 
<%= image_tag(Gchart.pie_3d :size => '340x260', 
                   :title => 'Run Results',
                   :data => [15,10,2],
                   :labels => ['Passed', 'Failed', 'Skipped'] 
                   ) %>
</br>