
<h3 align = "center"> All projects </h1>
<hr>
<p>
  <%=link_to "Download as CSV", projects_path(format:"csv")%> |
  <%=link_to "Download as Excel", projects_path(format:"xls")%>
</p>

<br>

<table class="table-striped table-bordered table-condensed" >
  <tr>
    <th>Project name</th>
    <th>Project description</th>
    <th> Actions </th><th> Actions </th><th> Actions </th><th> View Releases </th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.project_name %></td>
    <td><%= project.project_description %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Releases', {:controller => "prorels", :project => project} %></td>
  </tr>
<% end %>
</table>
<br />

<%= will_paginate @projects %>
<%= button_to 'New Project', new_project_path , :class=>"btn btn-success" , :method => :get%>


