<%= form_for(@release) do |f| %>
  <% if @release.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@release.errors.count, "error") %> prohibited this release from being saved:</h2>

      <ul>
      <% @release.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :release_ID %><br />
    <%= f.number_field :release_ID %>
  </div>
  <div class="field">
    <%= f.label :project_ID %><br />
    <%= f.number_field :project_ID %>
  </div>
  <div class="field">
    <%= f.label :release_start_date %><br />
    <%= f.date_select :release_start_date %>
  </div>
  <div class="field">
    <%= f.label :release_end_date %><br />
    <%= f.date_select :release_end_date %>
  </div>
  <div class="field">
    <%= f.label :release_status %><br />
    <%= f.text_field :release_status %>
  </div>
  <div class="actions">

    <%= f.submit 'Create New' , :class=>'btn btn-success' %>
    <%= button_to 'Back', releases_path ,:class=>"btn button-new" %>

  </div>
<% end %>
