<script type = "text/javascript">

$(document).ready(function () {
  $('.pagination .previous_page').text('«');
  $('.pagination .next_page').text('»');

  $('.pagination').each(function () {
    var $bar = $(this);
    $bar.find('a, .current, span').wrapAll('<ul>');
    $bar.find('a, .current, span').wrap('<li>');

    $bar.find('em').each(function () {
      $(this).parent().addClass('disabled');
      $(this).replaceWith('<a href="#">' + $(this).text() + '</a>');
    });
  });
});
</script>

<h1>Listing releases</h1>

<table class ="table table-striped table-bordered table-condensed" >
  <tr>
    <th>Release id</th>
    <th>Project id</th>
    <th>Release start date</th>
    <th>Release end date</th>
    <th>Release status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @releases.each do |release| %>
  <tr>
    <td><%= release.release_ID %></td>
    <td><%= release.project_ID %></td>
    <td><%= release.release_start_date %></td>
    <td><%= release.release_end_date %></td>
    <td><%= release.release_status %></td>
    <td><%= link_to 'Show', release %></td>
    <td><%= link_to 'Edit', edit_release_path(release) %></td>
    <td><%= link_to 'Destroy', release, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<div class='pagination'>

<%= will_paginate @releases %>

</div>

<%= button_to "New Release", new_release_path, :class=>"btn btn-success" , :method => :get  %><br />
<!-- <%= link_to 'New Release', new_release_path %>  -->
